/* ==================== DEFAULT STYLES ==================== */

:root {
  --background-color: #fffefb;
  --text-color: #333;
  --text-color-white: #fff;
  --yellow-rrow-button: #ffe30b;
}

body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 100%;
  padding-right: 4vw;
  padding-left: 4vw;
  margin-left: auto;
  margin-right: auto;
}

/* ==================== HEADER ==================== */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.1vw;
}

.logo-img {
  width: 14vw;
  height: auto;
}

.list-header {
  display: flex;
  gap: 5.2vw;
  align-items: center;
}

.list-header-item {
  text-align: center;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.list-header-link {
  color: #333;
}

.list-header-social {
  display: flex;
  gap: 12px;
  align-items: center;
}

.social-link-icon {
  width: 1.8vw;
  height: 1.8vw;
}

.working-days {
  color: var(--text-color);
  font-size: 0.8vw;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.phone-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-number {
  color: var(--text-color);
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.button-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
}

/* ==================== HERO ==================== */

.hero-upper-text {
  color: var(--text-color);
  font-size: 0.83vw;
  font-weight: 700;
  line-height: 150%;
}

.hero-container {
  justify-content: center;
}

.hero-container-content {
  max-width: 55.4vw;
}

.hero-header {
  color: var(--text-color);
  font-size: 3.7vw;
  font-weight: 900;
  line-height: 110%;
  margin-bottom: 1vw;
}

.hero-lower-text {
  color: var(--text-color);
  font-size: 0.83vw;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 2vw;
}

.try-your-hand {
  display: flex;
  width: 16.1vw;
  padding: 1vw 4.3vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: linear-gradient(134deg, #ffdf00 -7.01%, #ffb800 109.07%);
  border: none;
  color: var(--text-color);
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-wrap: nowrap;
  margin-bottom: 211px;
}

.head-el-one {
  width: 14vw;
  height: auto;
  position: absolute;
  top: 137px;
  left: 0;
  z-index: -1;
}

.head-el-two {
  position: absolute;
  top: 24.85vw;
  left: 31vw;
  z-index: -1;
  width: 11.4vw;
  height: 11.4vw;
}

.head-el-three {
  position: absolute;
  top: 7.1vw;
  left: 58vw;
  z-index: -1;
  width: 4.4vw;
  height: 4.4vw;
}

.head-el-four {
  position: absolute;
  top: 32.1vw;
  left: 57vw;
  z-index: -1;
  width: 1.6vw;
  height: 1.6vw;
}

.hero-pic {
  position: absolute;
  top: 8.3vw;
  right: -5.7vw;
  z-index: -1;
  width: 45vw;
  height: auto;
}

.pagination {
  display: flex;
  gap: 17px;
}

.pagination-img {
  width: 0.8vw;
  height: 0.8vw;
}

.learn-more-container {
  text-align: center;
  margin-bottom: 47px;
}

.learn-more-text {
  color: var(--Black, #333);
  font-size: 0.72vw;
  font-weight: 700;
  line-height: 125%;
}

.learn-more-btn {
  background: transparent;
  border: none;
  width: 0.93vw;
  height: 1.5vw;
  margin-bottom: 2.4vw;
}

/* ==================== SECTION ONE ==================== */

.section-one-container {
  padding-top: 5.2vw;
  margin-bottom: 100px;
}

.section-one-header {
  color: var(--text-color);
  font-size: 2.3vw;
  font-weight: 800;
  line-height: 125%;
  margin-bottom: 2.6vw;
}

.container-sec-one-descr {
  display: flex;
  gap: 2vw;
}

.teamwork-img {
  width: 50%;
  height: auto;
}

.sec-one-par {
  display: flex;
  flex-direction: column;
  row-gap: 0.52vw;
  align-items: center;
}

.sec-one-descr {
  color: var(--text-color);
  font-size: 1vw;
  font-weight: 400;
  line-height: 150%;
}

.sec-one-descr-bold {
  color: var(--text-color);
  font-size: 1vw;
  font-weight: 700;
  line-height: 150%;
}

/* ===================== SECTION-TWO ==================== */

.section-two {
  background: linear-gradient(134deg, #ffdf00 -7.01%, #ffb800 109.07%), #fffefc;
}

.section-two-container {
  position: relative;
  display: flex;
  padding-top: 2.6vw;
  /* padding-bottom: 20px; */
}

.sec-two-descr {
  width: 50%;
  margin-bottom: 2.6vw;
}

.header-sec-two {
  color: var(--text-color);
  font-size: 2vw;
  font-weight: 800;
  line-height: 125%;
  margin-bottom: 2.6vw;
}

.par-one {
  color: var(--text-color);
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 0.78vw;
}

.par-two-three {
  color: var(--text-color);
  font-size: 0.9vw;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0.78vw;
}

.glianec-bold {
  color: var(--text-color);
  font-size: 0.9vw;
  font-weight: 700;
  line-height: 150%;
}

.sec-two-list {
  display: flex;
  align-items: center;
  gap: 2.6vw;
  width: 32.8vw;
  margin-top: 1.46vw;
}

.sec-two-list-img-one {
  width: 5.5vw;
  height: auto;
}

.sec-two-list-img-two {
  width: 11.4vw;
  height: auto;
}

.sec-two-list-img-three {
  width: 10.7vw;
  height: auto;
}

.team-pic {
  position: absolute;
  width: 33.6vw;
  height: auto;
  right: 5.4vw;
  bottom: 2.6vw;
}

/* ==================== SECTION-THREE ==================== */

.section-three-container {
  display: flex;
}

.header-sec-three {
  color: var(--text-color);
  font-size: 44px;
  font-weight: 800;
  line-height: 125%;
  padding-top: 100px;
}

.container-list-sec-three {
  display: flex;
  text-align: right;
}

.header-list-sec-three {
  color: var(--Black, #333);
  /* text-align: right; */
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  margin-right: 20px;
}

.text-list-sec-three {
  color: var(--Black, #333);
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  margin-right: 20px;
}

.img-background-container {
  background-color: linear-gradient(134deg, #ffdf00 -7.01%, #ffb800 109.07%),
    linear-gradient(135deg, #ffdb65 14.63%, #ff8c33 85.19%);
}

.img-background {
  width: 40px;
  height: 40px;
}

.container-list-sec-three-r {
  text-align: left;
}

.container-list-sec-three-r {
  display: flex;
  text-align: left;
}

/* TO BE CONTINUE */

/* ==================== SECTION-FOUR ==================== */

.sec-four {
  position: relative;
}

.section-four-container {
  display: flex;
  justify-content: center;
  gap: 0.73vw;
  flex-direction: row;
  margin-top: 2.6vw;
}

.section-four-img {
  width: 22.5vw;
  height: auto;
}

.arrow-left {
  position: absolute;
  top: 1.98vw;
  left: 2.45vw;
}

.arrow-right {
  position: absolute;
  top: 6.09vw;
  right: 2.45vw;
}

/* ==================== SECTION-FIVE ==================== */

.section-five-container {
  padding-top: 5.2vw;
  margin-left: 0;
}

.header-sec-five {
  color: var(--text-color);
  font-size: 1.9vw;
  font-weight: 800;
  line-height: 125%;
  margin-bottom: 2.6vw;
}

.sec-five-list {
  display: flex;
  justify-content: center;
  gap: 1.56vw;
}

.sec-five-list-item {
  max-width: 26vw;
  height: auto;
  padding: 20px 30px 30px 30px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid rgba(69, 77, 82, 0.05);
  background: #fff;
}

.sec-five-img {
  margin-bottom: 0.78vw;
}

.sec-five-par-one {
  color: var(--text-color);
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 0.78vw;
}

.sec-five-par-two {
  color: var(--text-color);
  font-size: 0.79vw;
  font-weight: 400;
  line-height: 125%;
}

.span-five-par-two {
  color: var(--text-color);
  font-size: 0.79vw;
  font-weight: 700;
  line-height: 125%;
}

/* ==================== SECTION-SIX ==================== */

.section-six-container {
  padding-top: 5.2vw;
}

.header-sec-six {
  color: var(--text-color);
  font-size: 1.9vw;
  font-weight: 800;
  line-height: 125%;
  margin-bottom: 2.6vw;
}

.sec-six-list {
  display: flex;
  justify-content: center;
  gap: 1.56vw;
}

.sec-six-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw;
  height: 7.66vw;
  background-color: #fff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

/* ==================== SECTION-SEVEN ==================== */

.sec-seven {
  position: relative;
}

.section-six-container {
  padding-top: 5.2vw;
}

.header-sec-seven {
  color: var(--text-color);
  font-size: 1.9vw;
  font-weight: 800;
  line-height: 125%;
  margin-bottom: 3.96vw;
}

.sec-seven-par-one {
  color: var(--text-color);
  font-size: 0.79vw;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 0.52vw;
}

.sec-seven-par-two {
  color: var(--text-color);
  font-size: 0.79vw;
  font-weight: 400;
  line-height: 150%;
}

.img-one {
  position: absolute;
  top: 14.84vw;
  right: 9.27vw;
  width: 18.53vw;
  height: auto;
}

.img-two {
  position: absolute;
  top: 9.01vw;
  right: 27.07vw;
  z-index: -1;
  width: 20.82vw;
  height: auto;
}

.img-three {
  position: absolute;
  top: 5.1vw;
  right: 3.9vw;
  z-index: -2;
  width: 25.98vw;
  height: auto;
}

/* ==================== SECTION-EIGHT ==================== */

.section-eight-container {
  padding-top: 10vw;
  padding-bottom: 4vw;
}

.sec-eight-icon {
  width: 2vw;
  height: 2vw;
  margin-bottom: 1vw;
}

.sec-eight-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4vw;
}

.sec-eight-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.86vw 1.25vw;
  color: #fff;
  width: 26vw;
  height: auto;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  cursor: pointer;
}

.sec-eight-list-item:hover {
  background-color: var(--yellow-rrow-button);
}

.sec-eight-list-head {
  color: var(--text-color);
  text-align: center;
  font-size: 1.02vw;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 1vw;
}

.sec-eight-list-par {
  color: var(--text-color);
  text-align: center;
  font-size: 0.65vw;
  font-weight: 400;
  line-height: 125%;
}

/* ==================== FOOTER ==================== */

.container-footer {
  display: flex;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}

.sidebar {
  padding: 2.08vw 1.56vw 2.86vw 4vw;
  background-color: var(--yellow-rrow-button);
  width: 38vw;
}

.logo-footer {
  width: 14vw;
  height: auto;
  margin-bottom: 1.56vw;
}

.sidebar-text {
  color: var(--text-color);
  font-size: 0.79vw;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 3.59vw;
}

.copy {
  color: var(--text-color);
  font-size: 0.79vw;
  font-weight: 400;
  line-height: 125%;
}

.footer-main {
  width: 100%;
  display: flex;
  gap: 7.29vw;
  padding: 2.6vw 5.47vw 0 6.25vw;
  justify-content: space-between;
  background-image: linear-gradient(
      rgba(45, 44, 44, 0.9),
      rgba(45, 44, 44, 0.9)
    ),
    url('../images/footer/footer-bgrnd-img.jpg');
  background-position: 40% 55%;
  background-size: 180% auto;
  background-repeat: no-repeat;
}

.header-give-us-call {
  color: var(--text-color-white);
  font-size: 1vw;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 1.56vw;
}

.contact-address {
  display: flex;
  flex-direction: column;
  row-gap: 1.04vw;
}

.phone-link {
  color: var(--text-color-white);
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.span-footer-phone {
  font-weight: 400;
}

.span-footer {
  color: var(--text-color-white);
  font-size: 0.8vw;
  font-weight: 400;
  line-height: 150%;
}

.mail-link {
  color: var(--text-color-white);
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 1.04vw;
}

.span-footer-email {
  font-weight: 700;
}

.footer-soc-list {
  display: flex;
  gap: 2.34vw;
}

.footer-social-icon {
  fill: var(--text-color-white);
  height: 1.15vw;
  max-width: 1.15vw;
}

.header-office-address {
  color: var(--text-color-white);
  font-size: 1vw;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 1.56vw;
}

.text-office-address {
  color: var(--text-color-white);
  font-size: 1vw;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 1.04vw;
}

.span-footer-address {
  font-weight: 700;
}

.gps {
  color: var(--text-color-white);
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.span-gps {
  text-decoration: underline;
}

.header-our-startup {
  color: var(--text-color-white);
  font-size: 1vw;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 0.47vw;
}

.our-startup-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25vw;
}
